::ng-deep app-header {
    header {
        background-image: linear-gradient(to right, black , white);
        padding: 16px;
        font-size: 24px;

        img {
            width: 40px;
        }
        
        a {
            margin: 4px 10px;
            color: white;
        }
    }
}