<div class="container">
    <div class="row">
        <div class="card">
            <a [routerLink]="['add-user']"><i class="bi bi-plus-circle-fill"></i></a>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Telephone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.tel}}</td>
                            <td>
                                <a (click)="userDetailPage(user)"><i class="bi bi-pencil-square"></i></a>
                                <a [routerLink]="['/user-detail', user.id]"><i class="bi bi-ticket-detailed"></i></a>
                                <a (click)="deleteUser(user.id)"><i class="bi bi-archive-fill"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>