<div class="container">

    <a *ngIf="dropdownList.length > 0" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="bi bi-plus-circle-fill"></i></a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add User to Trip</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Select User</label>
                            <select name="name" [(ngModel)]="tripUser.id" class="form-control" id="name"
                                aria-describedby="nameHelp" placeholder="Enter Name">
                                <option *ngFor="let user of dropdownList" [ngValue]="user.id">
                                    {{user.firstName}} {{user.lastName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount Paid</label>
                            <input [(ngModel)]="tripUser.amountPaid" type="number" name="amount" class="form-control"
                                id="amount" aria-describedby="amountHelp">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="addUserTrip()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>{{trip.name}}</h2>
        <small>{{trip.from | date: 'mediumDate'}} - {{trip.to | date: 'mediumDate'}}</small>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let user of tripUserList; let  i = index">
                {{i+1}}. {{user.firstName}} {{user.lastName}}
                <span class="badge badge-primary badge-pill">£{{user.amountPaid}}</span>
            </li>
        </ul>
    </div>
</div>