.user-detail {
    .card {
        padding: 0px;
        // background: #f27052;
        color: #14545c;
        box-shadow: 5px 5px;
        margin-bottom: 10px;

        .card-header {
            background-color: unset;
            border-bottom: 0px;
        }

        i {
            color: #14545c;
            font-size: 22px;
            margin-right: 12px;
        }
    }
}