<div class="container-fluid">
    <a class="ms-3" [routerLink]="['/add-trip']"><i class="bi bi-plus-circle-fill"></i></a>

    <div class="m-2 card-dsgn">
        <div style="width: 18rem;" class="card col-sm d-flex text-center m-sm-2 mt-2" *ngFor="let trip of tripList; let i = index">
            <!-- <img src="/assets/img/trip1.png" class="card-img-top" /> -->
            <div class="card-body">
                <h5 class="card-title">{{trip.name}}</h5>
                <p class="card-text">{{trip.from | date: 'mediumDate'}} - {{trip.to | date: 'mediumDate'}}</p>
                <a (click)="tripDetailPage(trip)" class="btn">Detail</a>
                <a (click)="tripUpdatePage(trip)" class="btn">Update</a>
                <a (click)="deleteTrip(trip.id)" class="btn">Remove</a>
            </div>
        </div>
    </div>
</div>